/* ------------------------- Resets ------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a {
	text-decoration: none;
	color: #000;
}
/* ------------------------- Main Styles------------------------- */
section.products {width: 100%; float: left;}
section.products h2 {padding: 10px; font-size: 20px;}
section.products p {padding: 10px;display: block;}
.product {border: 1px solid #808080; display: block; height: 201px;}
.product img {float: left;}
.product-info {float: left; width: 300px;}
.price {float: right; font-weight: bold;}
#cart {padding: 10px;border: 1px solid #808080;}
#cart h2 {padding: 0 0 10px 0; font-size: 20px;}
.dropzone {background: #c0c0c0; display: block; padding: 20px;margin: 20px 0;border: 5px dashed #808080;}
.dropzone p {text-align: center;}